<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create a New Listing</title>
 </head>
 <body>
<form action="/listings/<%=@listing.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch"> 
     <label>Address: <input type="text" name="address" /></label><br/>
     <label>Price: <input type="text" name="price" /></label><br/>
     <label>Bedrooms: <input type="text" name="bedrooms" /></label><br/>
     <label>Bathrooms: <input type="text" name="bathrooms" /></label><br/>
     <input type="submit" id="Submit" />
   </form>
 </body>
</html>