
<ul>
<% @listings.each do |listing| %>
  <li>
    <a href="/listings/<%= listing.id %>">
      <%= listing.address %> 
    </a>
  </li>
<% end %>
<br>
<br>
<a href="/listings/new"><button>New Listing</button></a>

<form action="/listings/new" method="get">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="New Listing">
</form>
</ul>
